{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>Food at Door</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="{% static 'css/colors/blue.css' %}"/>

    <!-- Modernizer -->
    <script src="{% static 'js/modernizer.js' %}"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div id="loader">
    <div id="status"></div>
</div>
<div id="site-header">
    <header id="header" class="header-block-top">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <!-- navbar -->
                    <nav class="navbar navbar-default" id="mainNav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <a class="navbar-brand js-scroll-trigger logo-header" href="{% url 'demo' %}">
                                    <span class="h2 fw-bold" style="color:white;">Restaurant</span>
                                </a>
                            </div>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="bar head"><a class="bar head" href="{% url 'demo' %}">Home</a></li>
                                <!-- <li class="bar head"><a class="bar head " href="#banner">District</a>
                                    <ul class="down">
                                        <li class="head"><a class="head" href="https://en.wikipedia.org/wiki/Ernakulam"  >Ernakuam</a>
                                        </li>
                                        <li class="head"><a  class="head" href="https://en.wikipedia.org/wiki/Thrissur" >Thrissur</a>
                                        </li>
                                        <li class="head"><a class="head" href="https://en.wikipedia.org/wiki/Thiruvananthapuram">Trivandrum</a>
                                        </li>
                                    </ul>
                                </li> -->
                                {% if user.is_authenticated %}
                                <li class="name"><a class="name" href=""> Hello {{user.username}} </a></li>
                                <li class="bar head"><a class="bar head" href="credentials/logout">Logout</a></li>
                                {% else %}
                                <li class="bar head"><a class="bar head" href="credentials/Signup">Signup</a></li>
                                <li class="bar head"><a class="bar head" href="credentials/login">Login</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- end nav-collapse -->
                    </nav>
                    <!-- end navbar -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </header>
    <!-- end header -->
</div>
<!-- end site-header -->

<div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1>Delivery at your <span class="typer" id="some-id" data-delay="200" data-delim=":"
                                                   data-words="house:office:wherever you want" data-colors="red"></span><span
                                class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                        <h2>What are you waiting for? </h2>
                        {% if user.is_authenticated %}
                        <div class="book-btn">
                            <a href="{% url 'foodorder' %}" class="table-btn hvr-underline-from-center">Food Order</a>
                        </div>
                        {% else %}
                        <div class="book-btn">
                            <a href="{% url 'login' %}" class="table-btn hvr-underline-from-center">Food Order</a>
                        </div>
                        {% endif %}
                        <!-- <a href="#about">
                            <div class="mouse"></div>
                        </a> -->
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>
<!-- end banner -->

<div class="special-menu pad-top-100 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title color-white text-center"> Today's Special </h2>
                    <h5 class="title-caption text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusm incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia,nostrud
                        exercitation ullamco. </h5>
                </div>

                <div class="special-box">
                    <div id="owl-demo">
                        {% for i in data %}
                        <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        {{i.name}}
                                        <div class="line"></div>
                                        <div class="dit-line">{{i.description}}</div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="{{i.image.url}}" alt="sp-menu">
                            </div>
                        </div>
                        {% endfor %}
                        <!-- <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        ITALIAN PIZZA
                                        <div class="line"></div>
                                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="{% static 'images/special-menu-2.jpg' %}" alt="sp-menu">
                            </div>
                        </div> -->
                        <!-- <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        VEG. ROLL
                                        <div class="line"></div>
                                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="{% static 'images/special-menu-3.jpg' %}" alt="sp-menu">
                            </div>
                        </div> -->
                        <!-- <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        SALMON STEAK
                                        <div class="line"></div>
                                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="{% static 'images/special-menu-1.jpg' %}" alt="sp-menu">
                            </div>
                        </div> -->
                        <!-- <div class="item item-type-zoom">
                            <a href="#" class="item-hover">
                                <div class="item-info">
                                    <div class="headline">
                                        VEG. ROLL
                                        <div class="line"></div>
                                        <div class="dit-line">Lorem ipsum dolor sit amet, consectetur adip aliqua. Ut enim ad minim venia.</div>
                                    </div>
                                </div>
                            </a>
                            <div class="item-img">
                                <img src="{% static 'images/special-menu-2.jpg' %}" alt="sp-menu">
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- end special-box -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end special-menu -->

<div id="menu" class="menu-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                        Our Menu
                    </h2>
                    <p class="title-caption text-center">There are many variations of passages of Lorem Ipsum available,
                        but the majority have suffered alteration in some form, by injected humour, or randomised words
                        which don't look even slightly believable. </p>
                </div>
                <div class="tab-menu">
                    <div class="slider slider-nav">
                        <div class="tab-title-menu">
                            <h2>STARTERS</h2>
                            <p><i class="flaticon-canape"></i></p>
                        </div>
                        <div class="tab-title-menu">
                            <h2>MAIN DISHES</h2>
                            <p><i class="flaticon-dinner"></i></p>
                        </div>
                        <div class="tab-title-menu">
                            <h2>DESERTS</h2>
                            <p><i class="flaticon-desert"></i></p>
                        </div>
                        <div class="tab-title-menu">
                            <h2>DRINKS</h2>
                            <p><i class="flaticon-coffee"></i></p>
                        </div>
                    </div>
                    <div class="slider slider-single">
                        <div>
                            {% for i in start %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{{i.image.url}}" alt="" class="img-responsive">
                                    <div>
                                        <h3>{{i.name}}</h3>
                                        <p>
                                            {{i.description}}
                                        </p>
                                    </div>
                                    <span class="offer-price">Rs {{i.price}}</span>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- end col -->
                        </div>
                        <div>
                            {% for i in main %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{{i.image.url}}" alt="" class="img-responsive">
                                    <div>
                                        <h3>{{i.name}}</h3>
                                        <p>
                                            {{i.description}}
                                        </p>
                                    </div>
                                    <span class="offer-price">Rs {{i.price}}</span>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- end col -->
                        </div>
                        <div>
                            {% for i in desert %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{{i.image.url}}" alt="" class="img-responsive">
                                    <div>
                                        <h3>{{i.name}}</h3>
                                        <p>
                                            {{i.description}}
                                        </p>
                                    </div>
                                    <span class="offer-price">Rs {{i.price}}</span>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- end col -->
                        </div>
                        <div>
                            {% for i in drinks %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="offer-item">
                                    <img src="{{i.image.url}}" alt="" class="img-responsive">
                                    <div>
                                        <h3>{{i.name}}</h3>
                                        <p>
                                            {{i.description}}
                                        </p>
                                    </div>
                                    <span class="offer-price">Rs {{i.price}} </span>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- end col -->
                        </div>
                    </div>
                </div>
                <!-- end tab-menu -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end menu -->

<!-- <div id="footer" class="footer-main">
    <div class="footer-news pad-top-100 pad-bottom-70 parallax">
        <div class="container">
            <div class="row"> -->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
        <h2 class="ft-title color-white text-center"> Newsletter </h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <form>
        <input type="email" placeholder="Enter your e-mail id">
        <a href="#" class="orange-btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
    </form>
</div> -->
<!-- end col -->
<!-- </div> -->
<!-- end row -->
<!-- </div> -->
<!-- end container -->
<!-- </div> -->
<!-- end footer-news -->
<div class="footer-box pad-top-70">
    <div class="container">
        <div class="row">
            <div class="footer-in-main">
                <div class="footer-logo">
                    <div class="text-center">
                        <img src="{% static 'images/foodatd.png' %}" alt=""
                             style="width: 7cm;height: 4cm;margin-top: -3px;margin-left: -58px;"/>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-box-a">
                        <h3 style="color: white;">About Us</h3>
                        <p>We provide you the best service with an experience of 10 years. Our website provide user's to
                            get authentic food next door rapidly.</p>
                        <!-- <ul class="socials-box footer-socials pull-left">
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                </a>
                            </li>
                        </ul> -->

                    </div>
                    <!-- end footer-box-a -->
                </div>
                <!-- end col -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-box-b">
                        <h3 style="color: white;">Contact Us</h3>
                        <p>
                            <i class="fa fa-map-signs" aria-hidden="true"></i>
                            <span>ABC Building kochi,Kerala</span>
                        </p>
                        <p>
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <span>
									+91 1122334400 
								</span>
                        </p>
                        <!-- <p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span><a href="#">support@fooddelivery.com</a></span>
                        </p> -->
                    </div>
                    <!-- end footer-box-c -->
                </div>
                <!-- end col -->
            </div>
            <!-- end footer-in-main -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    <div id="copyright" class="copyright-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6 class="copy-title"> Copyright &copy; Food at door <a href="#" target="_blank"></a></h6>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end copyright-main -->
</div>
<!-- end footer-box -->
</div>
<!-- end footer-main -->

<a href="#" class="scrollup" style="display: none;">Scroll</a>

<!-- <section id="color-panel" class="close-color-panel">
    <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a> -->
<!-- Colors -->
<!-- <div class="segment">
    <h4 class="gray2 normal no-padding">Color Scheme</h4>
    <a title="orange" class="switcher orange-bg"></a>
    <a title="strong-blue" class="switcher strong-blue-bg"></a>
    <a title="moderate-green" class="switcher moderate-green-bg"></a>
    <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
</div>
</section> -->

<!-- ALL JS FILES -->
<script src="{% static 'js/all.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>